@charset "UTF-8";

/* HEADER */
body {
  font-family: 'Lato';
  font-weight: 100;
}

.Raleway {
  font-family: 'Raleway';
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-inner .fas {
  font-size: 38px;
  color: #4e4e4e;
}

.button {
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  transition: all .3s;
  text-decoration: none;
}

.header__button {
  padding: 14px 12px;
}

.button:hover {
  color: #333;
}

.btn {
  display: none;
}

/* MAIN */

.main {
  padding-top: 68px;
  background-color: #f2f2f2;
}

.main__theme {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.main__theme__text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main__theme__sub-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.main__section__desc {
  background-color: #74cfae;
  padding-top: 50px;
}

.main__section__desc__inner {
  display: flex;
  justify-content: space-around;
}

.main__section__desc__inner__content {
  color: #fff;
  width: 650px;
  text-align: center;
  margin-left: 100px;
  margin-top: 30px;
}

.content__title {
  font-size: 24px;
}

.content__text {
  line-height: 30px;
  font-size: 20px;
  margin-top: 35px;
}

.main__article {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.main__article__title {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.main__article__container {
  display:flex;
  flex-wrap:wrap;
  margin-top: 40px;
}

.main__article__container .box {
  width: 300px;
  height: 300px;
  margin-top: 80px;
  margin-left: 100px;
}

.main__article__container .box .item {
  opacity: 0.7;
  transition: all .3s;
}

.main__article__container .box:nth-child(3n+1) {
  margin-left: 0;
}

.main__article__container .box:nth-child(-n+3) {
  margin-top: 0;
}

.box .item:hover {
  opacity: 1;
}

.main__article__content {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.main__article__text {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  color: #333;
  width: 570px;
}

.main__article__button {
  text-align: center;
  padding: 14px 20px;
  width: 65px;
  height: 12px;
  line-height: 12px;
  margin-left: 90px;
}

.main__section__service {
  background-color: #4e4e4e;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.main__section__service__title {
  color: #fff;
  font-size: 24px;
}

.main__section__service__circle {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.main__section__service__text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.main__nav {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns {
  text-decoration: none;
}

.main__nav__inner {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.main__nav .fab,.main__nav .fas {
  text-align: center;
  width: 185px;
  height: 100px;
  line-height: 100px;
  color: #74cfae;
  transition: all .3s;
}

.fab:hover,.fas:hover {
  background-color: #fff;
}

/* FOOTER */
.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
  color: #fff;
}


/* SP */
@media screen and (max-width:767px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }

/* HEADER */
  .header {
    padding: 20px 0;
    position: fixed;
  }

  .header-inner .fas {
    font-size: 70px;
  }

  .header__button {
    display: none;
  }

  .btn {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70px;
    height: 50px;
    background-color: #fff;
  }

  .btn span {
    position: absolute;
    left: 23%;
    width: 54%;
    height: 4px;
    background-color: #ddd;
    border-radius: 4px;
  }

  .btn, .btn span {
    display: inline-block;
    box-sizing: border-box;
  }

  .btn span:nth-of-type(1) {
    top: 12px;
  }

  .btn span:nth-of-type(2) {
    top: 22px;
  }

  .btn span:nth-of-type(3) {
    bottom: 12px;
  }

/* MAIN */
  .main {
    padding-top: 110px;
    background-color: #f2f2f2;
  }
/* Bolt Theme */
  .main__theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .main__theme__text {
    font-size: 80px;
  }
/* Image & What We Can Do */
  .main__section__desc {
    padding: 50px 0;
    text-align: center;
  }

  .main__section__desc__inner {
    display: flex;
    flex-direction: column;
  }

  .section__img {
    margin: auto;
    width: auto;
    height: auto;
  }

  .main__section__desc__inner__content {
    margin-left: 10%;
    width: 80%;
  }
/* Our Latest Work & Image×６ */
  .main__article__container {
    display: flex;
    flex-direction:column;
    align-items:center;
   }

  .main__article__container .box {
    margin-top: 0;
    margin-left: 0;
  }

  .img {
    vertical-align:top;
  }

  .main__article__container .box:nth-child(3n+1) {
    margin-top: 100px;
  }

  .main__article__container .box:nth-child(3n+1):first-child {
    margin-top: 0;
  }

  .main__article__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .main__article__text {
    width: 100%;
  }

  .main__article__button {
    margin-top: 40px;
    margin-left: 0;
  }
/* Our Skills & Image×４ */
  .main__section__service__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .main__section__service__circle .item {
    margin-top: 100px;
    width: 40%;
  }

  .main__section__service__text {
    margin-top: 20px;
    font-size: 20px;
  }

  .main__section__service__circle .item:first-child {
    margin-top: 0;
  }
/* Sns */
  .main__nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main__nav__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    width: 100%;
  }

  .main__nav__inner .box {
    width: 100%;
  }

  .main__nav .fab,.main__nav .fas {
    text-align: center;
    width: 100%;
    height: 150px;
    line-height: 150px;
  }
}

/* TAB */
@media only screen and (min-width: 768px)
and (max-width: 1199px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }
/* Image & What We Can Do */
  .main__section__desc {
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .main__section__desc__inner {
    display: flex;
    flex-direction: column;
  }
  .section__img {
    margin: auto;
    width: auto;
    height: auto;
  }

  .main__section__desc__inner__content {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
  }
/* Our Latest Work & Image×６ */
  .main__article__container {
    display: flex;
    flex-direction:column;
    align-items:center;
  }

  .main__article__container .box {
    margin-left: 0;
    margin-top: 0;
  }

  .main__article__container .box:nth-child(3n+1) {
    margin-top: 80px;
  }

  .main__article__container .box:nth-child(3n+1):first-child {
    margin-top: 0;
  }

  .main__article__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .main__article__text {
    width: 100%;
  }

  .main__article__button {
    margin-top: 40px;
    margin-left: 0;
  }
/* Our Skills & Image×４ */
  .main__section__service__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .main__section__service__circle .item {
    margin-top: 88px;
    width: 40%;
  }

  .main__section__service__text {
    margin-top: 20px;
  }

  .main__section__service__circle .item:first-child {
    margin-top: 0;
  }
}
